@import "tailwindcss";


@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
  --font-main: var(--font-roboto);
  --font-nosifer: var(--font-nosifer);
}

body {
  font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
}

/* CSS view transition between pages */
::view-transition-old(root) {
  animation: fade-out 300ms ease-out ;
}
::view-transition-new(root) {
  animation: fade-in 300ms ease-in ;
}

@keyframes fade-out {
  to { opacity: 0; }
}
@keyframes fade-in {
  from { opacity: 0; }
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --color-white: #fff;
  --bg-main-gradient: linear-gradient(to right, #3636366c, #8585857c);
  --border-color: #bebebe1a;
  --bg-label: #505050;
  --bg-opacity: #77777786;
  --bg-sub: #4d4d4d67;
  --bg-main-color: #ffd779;
  --text-main-yellow: #ffd779;
  --text-main-color: #1d1d1d;
  --text-sub-color: rgb(179, 179, 179);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Ẩn arrows cho Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.swiper-scrollbar {
  display: none;
}
.swiper-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE và Edge */
  scrollbar-width: none; /* Firefox */
}
.after-mask-left::after{
    content: '';
    position: absolute;
    border-top: 9px solid rgb(117, 0, 117);
    border-left: 9px solid transparent;
    bottom: -9px;
    left: 0;
}
.after-mask-right::after{
    content: '';
    position: absolute;
    border-top: 9px solid rgb(117, 0, 117);
    border-right: 9px solid transparent;
    bottom: -9px;
    right: 0;
}
.text-shadow-heading{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
.overlay-text{
  position: absolute;
  background: red;
  width: 30px;
  height: 30px;
  bottom: 0;
}
.scroll-none::-webkit-scrollbar{
  display: none;
}

.vjs-control-bar {
  background-color: rgba(0, 0, 0, 0.7);
}

/* Tăng kích thước nút play */
.vjs-big-play-button {
  font-size: 3em;
  background-color: #ff4747;
  border-radius: 50%;
}

.swiper-button-prev{
  left: -34px !important;
}
.swiper-button-next {
  right: -34px !important;
  
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 30px !important;
  color: white;
  font-weight: 700 !important;
}


/* Animation */
.animate-show{
  animation: animateScale both;
  animation-timeline: view();
  animation-range: entry 20% cover 100%;
}

@keyframes animateScale {
  from {
    transform: translateY(100px);
    opacity: 0;
  } 
  to {
    transform: translateY(0);
    opacity: 1;

  }
}


/* Hover after movie card */
.poster-hover::before{
  content: '';
  position: absolute;
  background-image: url(https://cdn.pixabay.com/photo/2016/07/20/22/33/vajdahunyadvar-1531470_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 20;
  inset: 0;
  -webkit-clip-path: polygon(0 0, 100% 0%, 50% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 0 100%, 0% 100%);
  border-right: 1px solid red;
  border-radius: 24px;
  transition: all ease-in .3s;
  visibility: hidden;
  opacity: 0;

}

.poster-hover::after{
  content: '';
  position: absolute;
  background-image: url(https://cdn.pixabay.com/photo/2020/02/05/22/17/vendetta-4822543__340.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 20;
  inset: 0;
  -webkit-clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(100% 0, 100% 0%, 100% 100%, 0% 100%);
  border-radius: 24px;
  transition: all ease-in .3s;
  visibility: hidden;
  opacity: 0;
}
/* .poster-hover::before:hover{
  width: 75%;
}
.poster-hover::after:hover{
  width: 75%;
  
} */
.poster-hover:hover ~ .poster-hover::before, .poster-hover::after{
  visibility: visible;
  opacity: 1;

}



/* Scrollbar */
.custom-scrollbar {
  scrollbar-width: thin;             /* Firefox */
  scrollbar-color: #c0c0c0 transparent;
}

/* Webkit (Chrome, Edge, Safari) */
.custom-scrollbar::-webkit-scrollbar {
  height: 8px; /* horizontal scrollbar */
  width: 8px;  /* vertical scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;  /* màu của thumb */
  border-radius: 9999px;      /* bo tròn */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}